# Tic Tac Toe API Service
TICTACTOE_API_PORT=3000
TICTACTOE_API_ROOT_PATH=api/v1
TICTACTOE_API_ACCESS_CONTROL_ALLOW_ORIGIN=*
TICTACTOE_API_SWAGGER_ROOT_PATH=api/swagger

# Postgres DB
DATABASE_HOST=<localhost>
DATABASE_PORT=<5432>
DATABASE_USERNAME=<username>
DATABASE_PASSWORD=<password>
DATABASE_NAME=<name>
